header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    color: #333;
    font-weight: bold;
    font-size: 26px;
    margin-right: 5%;
}

nav ul {
    list-style: none;
}

nav li {
    transition: all;
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    border-bottom: 2px solid rebeccapurple;
    color: rebeccapurple;
}

nav .highlight {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav .highlight:hover {
    background-color: #fff;
    color: #333;
}

footer{
    color: black;
    font-size:75%;
    background-color:#B2BABB;
    display: flex;
}
iframe{
    margin-bottom: 5%;
}
.dir_footer{
    margin-right: 5%;
    margin-left: 20%;
}
.contact{
    margin-right: 5%;
    margin-left: 5%;
}
.redes{
    margin-right: 19%;
    margin-left: 5%;
}
.redes img{
    width: 25px;
    margin: 10%;
}
.end{
    font-size: 65%;
    background-color: #B2BABB;
    text-align: center;
    margin-bottom: 0%;

}
.img_section{
    align-items: center;
    margin-left: 0%;
    width: 100%;
}
.img_article{
    align-items: center;
    margin-left: 0%;
    width: 100%;
}
.img_aside{
    align-items: center;
    margin-left: 0%;
    width: 100%;
}
.container{
    background-image: url("web_fondo.jpeg");
    background-repeat: repeat;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    height: 99%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    grid-template-columns: repeat(1, 690px);
    grid-template-rows: repeat(1, 500px);
    justify-content: center;
}
.item{
    margin: 10%;
    box-sizing: border-box;
    border: solid 5px rgb(0, 0, 0);
    background-color: white;
    color: black;
    border-radius: 5px;

}
.item p{
    text-align: justify;
    margin: 5%;
}
.center{
    height: 600px;   
}
.container_form{
    background-image: url("web_fondo.jpeg");
    background-repeat: repeat;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    height: 99%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    grid-template-columns: repeat(1, 650px);
    grid-template-rows: repeat(1, 500px);
    justify-content: center;
}
.item_form{
    margin: 1%;
    box-sizing: border-box;
    border: solid 5px rgb(0, 0, 0);
    background-color: white;
    color: black;
    border-radius: 5px;

}
.contact_form{  
    font-size: 75%;
    width: 460px; 
    margin: 1px auto;
    border-radius: 1px;  
    padding-top: 1px;
    padding-bottom: 1px;  
    background-color: white; 
    padding-left: 1px; 
}

input{
    background-color: white; 
    width: 420px; 
    height: 22px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #B2BABB; 
    margin-top: 5px;  
    padding-left: 5px;
    margin-bottom: 5px; 
    font-family: 'OpenSans';
    font-size: 90%;
}


textarea{
    background-color: white; 
    width: 420px; 
    height: 60px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #B2BABB; 
    margin-top: 5px;  
    padding-left: 5px;
    margin-bottom: 0px; 
    padding-top: 5px; 
    font-family: 'OpenSans';
    font-size: 90%;
  }
  
label{
    display: block; 
    float: center;  
  }
  
button{
    height: 25px;   
    background-color: #e8be87; 
    border-color: #e8be87; 
    border-style: solid; 
    border-radius: 10px;  
    width: 80px;   
    cursor: pointer;
}

button p{
    color: black; 
}
  
span{
    color: #B2BABB; 
}
 
h4{
    text-align: justify;
}
