$color-background: #ffffff;
$color-base: #000000;
$navbar-background-color: #b04c99;
$navbar-color-hover: $color-background;
$border-color: $color-base;
$border-width: 0.1rem;
$border-style: solid;
$border-radius: 1rem;
$figure-width: 25%;